body {
  font-family: "Lancelot", cursive;
  margin: 65px 300px;
  background-image: url(newGraphic.png);
  background-size: 680px;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-size: 30px;
  padding-bottom: 10px;
  text-align: right;
}
h2 {
  margin-top: 10px;
  font-size: 20px;
  text-align: right;
}
form {
  margin-top: 20px;
  font-size: 12px;
}
#search-text-input {
  width: 91%;
}
.fas {
  color: rgb(69, 69, 73);
  font-size: 80px;
  opacity: 0.5;
  display: block;
}
.tempdisp {
  font-size: 30px;
  font-style: normal;
}
ul {
  list-style: none;
}
.detail {
  font-size: 14px;
  padding-inline-start: 1px;
  margin-top: 40px;
  margin-bottom: 1px;
}
p {
  font-size: 25px;
  font-style: italic;
}
p::first-letter {
  text-transform: capitalize;
}
.forecast {
  font-size: 20px;
  margin: 5px 0;
}
.forecast2 {
  font-size: 20px;
  margin: 0px;
  padding-top: 40px;
  padding-inline-start: 0px;
}
.images {
  height: 50px;
  margin-left: 0px;
}
footer {
  padding-left: 90px;
  font-family: monospace;
}
